{% extends 'base.html'%}
{% block title %} Main Page {% endblock %}

{% block content %} 
    {% for article in articles %}
    
    <div class="article_elem">
        <h3>{{ article.title }}</h3>

        {% if article.body|length > 100 %}
            <p>{{ article.body|slice:100 }}...</p>
        {% else %}
            <p>{{ article.body }}</p>
        {% endif %}            
        <p>{{ article.date }}</p>

        <a class="article_btn" href="{% url 'view_article' article.id  %}">Read more</a>
    </div>

    {% endfor %}
{% endblock %}